<!DOCTYPE html>
<html lang="en">
    <head>
        {% load staticfiles %}
       
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="{% static 'js/Tone.js' %}"></script>
        <link rel='stylesheet' type="text/css" href="{% static 'css/main.css' %}">
    </head>
    <body>
        <div id="headerCont" class="border border-dark rounded">
            <p id="header">Chord Tester</p>
            <p id="subHeader">by Kyle Kovacik</p>
        </div>
        
        <br>
        
        
        <div  id="genCont">
            <a href="/generateSong" class="btn-group-sm" style="width: 402px;">
                <button class="btn btn-dark btn-block">Generate Song</button>
            </a>
        </div>
        
        
    
        <br>
        <br>

        <div class="container">
            <div class="row">
                <div class="col-sm-1">
                    <p class="text-center border border-white rounded-pill label">Key</p>
                </div>
                <div class="col-sm-1">
                    <p class="text-center border border-white rounded-pill label">Degree</p>
                </div>
                <div class="col-sm-2">
                    <p class="text-center border border-white rounded-pill label">Inversion</p>
                </div>
                <div class="col-sm-2">
                    <p class="text-center border border-white rounded-pill label">Octave</p>
                </div>
            </div>
        </div>

        <div class="container">
        
            <div class="row">
            <div class="col-sm-1">
                <select id="keyId" class="form-control">
                    <option value="Ab">Ab</option>
                    <option value="A">A</option>
                    <option value="Bb">Bb</option>
                    <option value="B">B</option>
                    <option value="C" selected>C</option>
                    <option value="Db">Db</option>
                    <option value="D">D</option>
                    <option value="Eb">Eb</option>
                    <option value="E">E</option>
                    <option value="F">F</option>
                    <option value="Gb">Gb</option>
                    <option value="G">G</option>
                </select>
            </div>

            <div class="col-sm-1">
                <select id="degree" class="form-control">
                    <option value=1>1</option>
                    <option value=2>2</option>
                    <option value=3>3</option>
                    <option value=4>4</option>
                    <option value=5>5</option>
                    <option value=6>6</option>
                    <option value=7>7</option>
                </select>
            </div>

            <div class="col-sm-2">
                <select id="inversionId" class="form-control">
                        <option value=0>None</option>
                        <option value=1>1st</option>
                        <option value=2>2nd</option>
                </select>
            </div>
            
    
            <div class="col-sm-2">
                <select id="octaveId" class="form-control">
                        <option value=1>1</option>
                        <option value=2>2</option>
                        <option value=3>3</option>
                        <option value=4 selected>4</option>
                        <option value=5>5</option>
                        <option value=6>6</option>
                        <option value=7>7</option>
                </select>
            </div>
        </div>
        </div>


        <br>
        <div class="row" id="playCont">
                <button class="btn btn-dark" onclick="generateFirst()" id="generateFirst">Play Chord</button>
        </div>

        <!---
        <div>
            <ul id="piano">

            </ul>
        </div>
        -->
    </body>
    <script src="{% static 'js/main.js' %}"></script>
</html>