body {
    background-color: rgb(124, 124, 124);
}

select {
    width: 100%;
    height: 100%;

    background-color: black !important;
    color: white !important;
}

.label {
    background-color: aquamarine;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 90%;
}

button {
    margin-left: 2%;
    margin-top: 2%;
}

/*
a {
    margin-left: 2%;
    margin-top: 2%;
}
*/

#degree {
    background-color: whitesmoke;
}

.row {
    margin-right: 0px;
    margin-left: 0px;
}

span {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
}

#degreeCont {
    
    width: 100%;
    font-weight: bold;
}

.noMargin {
    margin-left: 0;
    margin-top: 0;

    text-decoration: none;
    font-weight: normal;
    color: black;    
}

.noMargin:hover {
    margin-left: 0;
    margin-top: 0;

    text-decoration: none;
    font-weight: normal;
    color: black;  

    background-color: rgb(236, 236, 236);
}

#inversionType, #octaveMin, #octaveMax, #degreeType, #octaveType {
    background-color: white !important;
    color: black !important;
    height: auto !important;
    font-size: 14px;
}

.line {
    background-color: rgb(158, 157, 157);
    height: 2px;
    /*width: 90%;*/
    margin-top: 10px;
    margin-bottom: 10px;
}

.minMax {
    margin-top: 0;
    margin-bottom: 0;
}

#collapseDegree, #collapseOctave, #collapseInversion {
    background-color: rgb(27, 27, 27);
}

.white {
    color: white;
}

img {
    height: 15vh;
    width: auto;
    object-fit: contain;
}

#playButton, #stopButton {
    margin-top: 1vh;
    margin-right: 1vh;
    cursor: pointer;
    height: 8vh;
    width: auto;
    display: block;
}

#playButton1 {
    text-align: center;
}

#navbar {
    background-color: rgb(65, 64, 64);
    height: 15vh;
}
#home {
    font-size: 10vh;
    margin-top: 0;
    color: black;
    text-decoration: none !important;
    font-weight: normal;}

#homeLink:hover {
    text-decoration: none !important;
    font-weight: normal;
    color: black;
}

.account {
    color: black;
    font-size: 4vh;
    margin-left: 7vw;
}

#fullRandomDrop {
    margin-left: 1vw;
    margin-right: 1vw;
}

input {
    background-color: black !important;
    color: white !important;
}

#generateSong, #generateSimpleSong {
    font-size: 6vh;
}

#exampleCheck1 {
    margin-top: 1.5vh;
}

#functionsBar, #functionsBar2 {
    height: 10vh;
    background-color: rgb(209, 208, 208);
    margin-left: 1vw;
    width: 35vw;
}

#accordion {
    margin-left: 2vw;
    margin-right: 2vw;
    width: 96vw;
}

.top {
    color:black;
    font-weight: bold;
}

#addChord, #reset {
    margin-bottom:  1vh;
    margin-top: 1vh;
    color: black;
    background-color: white;
}

.playBar {
    width: 100%;

}

#codeBar {
    height: 10vh;
    background-color: rgb(209, 208, 208);
    margin-left: 1vw;
    margin-right: 1vw;
}

.codeBar {
    margin-top: 2vh;
    height: 8vh;
}

.codeBarButton{
    height: 6vh;
    margin-top: 2vh;
    color: black;
    background-color: white;
}