<!DOCTYPE html>
<html lang="en">
    <head>
        {% load staticfiles %}

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="{% static 'js/Tone.js' %}"></script>
        <link rel='stylesheet' type="text/css" href="{% static 'css/generateSong.css' %}">
    </head>
    <body>
        <br>
            <div class="container" id="chordSettings" hidden>
                
                <div class="row">
                        
                <div class="col-sm-2">
                    <button class="btn btn-dark">Play Chord</button>
                </div>
                <div class="col-sm-1">
                    <select id="keyId" class="form-control">
                        <option value="Ab">Ab</option>
                        <option value="A">A</option>
                        <option value="Bb">Bb</option>
                        <option value="B">B</option>
                        <option value="C" selected>C</option>
                        <option value="Db">Db</option>
                        <option value="D">D</option>
                        <option value="Eb">Eb</option>
                        <option value="E">E</option>
                        <option value="F">F</option>
                        <option value="Gb">Gb</option>
                        <option value="G">G</option>
                    </select>
                </div>
        
                <div class="col-sm-1">
                    <select id="degree" class="form-control">
                        <option value=1>1</option>
                        <option value=2>2</option>
                        <option value=3>3</option>
                        <option value=4>4</option>
                        <option value=5>5</option>
                        <option value=6>6</option>
                        <option value=7>7</option>
                    </select>
                </div>
        
                <div class="col-sm-2">
                    <select id="inversionId" class="form-control">
                            <option value=0>None</option>
                            <option value=1>1st</option>
                            <option value=2>2nd</option>
                    </select>
                </div>
                    
                <div class="col-sm-2">
                    <select id="octaveId" class="form-control">
                            <option value=1>1</option>
                            <option value=2>2</option>
                            <option value=3>3</option>
                            <option value=4 selected>4</option>
                            <option value=5>5</option>
                            <option value=6>6</option>
                            <option value=7>7</option>
                    </select>
                </div>

                <div class="col-sm-2 btn-group">
                    <button type="button" class="btn btn-light rectangle" aria-pressed="true"></button>
                </div>

                <div class="col-sm-2">
                    <button type="button" class="btn btn-dark">Remove Chord</button>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-2">
                <p>Number of Chords:</p>
            </div>
            <div class="col-sm-2">
                <input type="number" class="form-control" id="chordNumber" value="4">
            </div>
            <div class="col-sm-1">
                <p>Key:</p>
            </div>
            <div class="col-sm-2">
                <select id="mainKey" class="form-control">
                    <option value="Ab">Ab</option>
                    <option value="A">A</option>
                    <option value="Bb">Bb</option>
                    <option value="B">B</option>
                    <option value="C" selected>C</option>
                    <option value="Db">Db</option>
                    <option value="D">D</option>
                    <option value="Eb">Eb</option>
                    <option value="E">E</option>
                    <option value="F">F</option>
                    <option value="Gb">Gb</option>
                    <option value="G">G</option>
                </select>
            </div>
            <div class="col-sm-1">
                <p>Tempo:</p>
            </div>
            <div class="col-sm-2">
                <input type="number" class="form-control" id="tempo" value="120">
            </div>
        </div>
        <div class="row" id="playCont">
                <button class="btn btn-dark" onclick="playSong()" id="playSong">Play Song</button>
                <button class="btn btn-dark" onclick="addChord1()" id="addChord">Add Chord</button>
                <button class="btn btn-dark" onclick="generateSong()" id="generateSong">GenerateSong</button>
        </div>
                
        <br>

        <div class="container">
            <div class="row">
                <div class="col-sm-2">

                </div>
                <div class="col-sm-1">
                    <p class="text-center border border-white rounded-pill label">Key</p>
                </div>
                <div class="col-sm-1">
                    <p class="text-center border border-white rounded-pill label">Degree</p>
                </div>
                <div class="col-sm-2">
                    <p class="text-center border border-white rounded-pill label">Inversion</p>
                </div>
                <div class="col-sm-2">
                    <p class="text-center border border-white rounded-pill label">Octave</p>
                </div>
            </div>
        </div>

        <div id="songCont">

        </div>
    </body>
    <script>
        var kawaiiPiano = "{% static 'samples/KawaiiUprightPiano' %}";
    </script>
    <script src="{% static 'js/pianoSampler.js' %}"></script>
    <script src="{% static 'js/triads.js' %}"></script>
    <script src="{% static 'js/generateSong.js' %}"></script>
</html>